html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#stopwatch {
    font-size: 1.2em;
}

#exercises {
    list-style-type: none;
}

.exerciseName {
}

.exerciseDuration {
    margin: 1em;
}

.exerciseDeleteButton {
    padding: 0;
}
