@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";

html {
}

#stopwatch {
    font-size: 1.2em;
}

#exercises {
    list-style-type: none;
}

.exerciseName {
}

.exerciseDuration {
    margin: 1em;
}

.exerciseDeleteButton {
    padding: 0;
}
